.nav-container{
   border-bottom: 1px black solid;
   display: flex;
   justify-content: center;
   height: 50px;
   align-items: center;
   gap:5%;
   button{
    border: 3px rgb(113, 113, 113) solid ;
    background: #c8ffbc;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 4px;
    &:hover{
        transform: scale(1.1);
    }
  
   }
   .user-name{
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: underline red 4px ;
}
}