.update-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    img{
        object-fit: cover;
        width: 50vw;
        height: 50vw;
        margin: 0 auto;
        border-radius: 50%;
        &:hover{
            cursor: pointer;
        }
    }
    input{
        padding: 5px;
    }
    button{
        border:none;
        font-size: 0.9rem;
        margin-left: 10px;
        border: 1px solid black;
        cursor: pointer;
        padding: 7px;
        width: fit-content;
        margin: 0 auto;
        border-radius: 5px;
        background-color: black;
        color:white;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.05);
            background-color: white;
            color:black;
        }
    }
}